<ul class="nav nav-pills justify-content-end bg-primary text-light">
  <li class="nav-item">
   <a class="nav-link text-white" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
 </li>
 <li class="nav-item">
   <a class="nav-link text-white" routerLink="/page1" routerLinkActive="active">Weather</a>
 </li>
 <li class="nav-item">
   <a class="nav-link text-white" routerLink="/page2" routerLinkActive="active">Quiz</a>
 </li>       
 <li class="nav-item">
  <a class="nav-link text-white" routerLink="/page3" routerLinkActive="active">Football</a>
 </li>
</ul>